.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-image:linear-gradient(to right, #a3e4d786,#5D6D7E);

}
.header h1{
    font-size: 3.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}